body,
html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/*Hawaii*/
.destination__hawaii-container {
  background-image: url(../assets/images/hawaii.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*Iceland*/
.destination__iceland-container {
  background-image: url(../assets/images/iceland.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*Greece*/
.destination__greece-container {
  background-image: url(../assets/images/greece.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.destination {
  display: flex;
  color: #fefaf5;
  font-size: xx-large;
  padding: 2rem 0 0 6rem;
}

.cards__container {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.card {
  list-style-type: none;
  background-color: white;
  text-align: center;
  margin: 32px;
  padding: 0 16px 60px 16px;
  min-width: 15.625rem;
  max-width: 17.5rem;
  min-height: 20rem;
  max-height: 25rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
}

.li + li,
.day,
.whats__included {
  margin-top: 1rem;
}

.day {
  border-bottom: 0.125rem solid black;
  font-weight: 700;
}

.whats__included {
  background-color: #fefaf5;
  padding: 0.9rem 0;
}
