body,
html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.header__navigation-bar {
  position: fixed;
  z-index: 999999;
  display: flex;
  padding: 2rem 4rem;
  background-color: #ffffff;
  justify-content: space-between;
  width: 100vw;
}

.travel__site {
  text-decoration: none;
  color: #335576;
  align-self: center;
}

/*nav bar menu*/
.header__menu {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.header__menu a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding-bottom: 0.3rem;
}

/*code to underline active page from w3schools.com*/
.header__menu a:hover,
.header__menu a.active {
  border-bottom: 3px solid #db7a4e;
}

/*banner*/
.hero_banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fefaf5;
  padding: 7rem 4rem 3rem 4rem;
  height: 100vh;
}

.hero__world-map-img {
  max-width: 25rem;
  position: relative;
  transition: 0.5s;
}

.hero__world-map-img:hover {
  max-width: 28rem;
  transform: rotate(360deg);
}

.hero__slogan-text {
  color: #335576;
  text-align: left;
}

.destination__container input[type="text"] {
  padding-left: 40px;
}

.destination__container {
  position: relative;
}

.destination__container i {
  position: absolute;
  left: 20px;
  top: 11px;
  color: #335576;
}

.dates__containers input[type="text"] {
  padding-left: 40px;
}

.from__container {
  position: relative;
}

.from__container i {
  position: absolute;
  left: 20px;
  top: 11px;
  color: #335576;
}

.to__container {
  position: relative;
}

.to__container i {
  position: absolute;
  left: 20px;
  top: 11px;
  color: #335576;
}

input[type="text"] {
  width: 80%;
  border: 2px solid #db7a4e;
  border-radius: 30px;
  padding: 10px 30px;
}

.dates__containers {
  display: flex;
  width: 87%;
  margin-top: 1rem;
}

.button__search {
  color: #fefaf5;
  background-color: #db7a4e;
  border-radius: 30px;
  padding: 10px 30px;
  border: 0;
  margin-top: 1rem;
  margin-left: 8.5rem;
}

/*footer*/
.footer__container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.info__title {
  color: #335576;
  font-size: 1rem;
  font-weight: bold;
}

.info__detail {
  color: #db7a4e;
  font-size: 0.4rem;
}

.info__text {
  color: #335576;
  font-size: x-small;
}

.opening__hours {
  display: flex;
}

.Weekend__hours {
  display: inline-block;
  justify-content: left;
  margin-left: 2rem;
  padding-top: 2.5rem;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
}
.social__media-icon {
  max-width: 26px;
  min-width: 20px;
}

.social__media-icon-facebook {
  max-width: 13px;
  min-width: 10px;
}
