body,
html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.header__navigation-bar {
  position: fixed;
  z-index: 999999;
  display: flex;
  padding: 0 4rem;
  background-color: #ffffff;
  justify-content: space-between;
  width: 100vw;
}

.travel__site {
  text-decoration: none;
  color: #335576;
  align-self: center;
}

/*nav bar menu*/
.header__menu {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.header__menu a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding-bottom: 0.3rem;
}

/*code to underline active page from w3schools.com*/
.header__menu a:hover,
.header__menu a.active {
  border-bottom: 3px solid #db7a4e;
}

/*footer*/
.footer__container {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.info__title {
  color: #335576;
  font-size: 1rem;
  font-weight: bold;
}

.info__detail {
  color: #db7a4e;
  font-size: 0.4rem;
}

.info__text {
  color: #335576;
  font-size: x-small;
}

.opening__hours {
  display: flex;
}

.Weekend__hours {
  display: inline-block;
  justify-content: left;
  margin-left: 2rem;
  padding-top: 2.8rem;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
}
.social__media-icon {
  max-width: 26px;
  min-width: 20px;
}

.social__media-icon-facebook {
  max-width: 13px;
  min-width: 10px;
}
